In [1]:
import numpy as np # Fundamental package for linear algebra and multidimensional arrays
import pandas as pd # Data analysis and manipultion tool

# In read_csv() function, we have passed the location to where the files are located in the dphi official github page.
train_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/used_car_price/train_set_label.csv" )

In [ ]:
test_data1.corr()

               year  odometer  county  latitude  longitude
year       1.000000 -0.327199     NaN -0.023920   0.001620
odometer  -0.327199  1.000000     NaN -0.002639   0.041012
county          NaN       NaN     NaN       NaN        NaN
latitude  -0.023920 -0.002639     NaN  1.000000  -0.581078
longitude  0.001620  0.041012     NaN -0.581078   1.000000

In [ ]:
train_data1.corr()

                  year  odometer  county  latitude  longitude  price_of_car
year          1.000000 -0.326488     NaN -0.008947  -0.021394      0.019125
odometer     -0.326488  1.000000     NaN -0.017996   0.051477     -0.278041
county             NaN       NaN     NaN       NaN        NaN           NaN
latitude     -0.008947 -0.017996     NaN  1.000000  -0.554686     -0.011009
longitude    -0.021394  0.051477     NaN -0.554686   1.000000     -0.007337
price_of_car  0.019125 -0.278041     NaN -0.011009  -0.007337      1.000000

In [ ]:
train_data = train_data.select_dtypes(exclude='object')
train_data

         year  odometer  county  latitude  longitude  price_of_car
0      2018.0       NaN     NaN   29.5407   -98.5521         24900
1      2006.0  169438.0     NaN   33.5161   -82.0785             0
2         NaN       NaN     NaN       NaN        NaN          4500
3         NaN       NaN     NaN       NaN        NaN         20000
4         NaN       NaN     NaN       NaN        NaN             0
...       ...       ...     ...       ...        ...           ...
37495     NaN       NaN     NaN       NaN        NaN          3199
37496  2006.0       NaN     NaN   35.6884   -81.3612          1500
37497  2017.0   56643.0     NaN   29.0462   -80.9346         25950
37498  2012.0   76800.0     NaN   47.8497  -122.0110         42500
37499     NaN       NaN     NaN       NaN        NaN          2999

[37500 rows x 6 columns]

In [ ]:
train_data = train_data.drop('county', axis = 1)

In [ ]:
X = train_data.drop('price_of_car', axis = 1) # her we are droping the 'price_of_car' feature as this is the target and 'X' is input features, the changes are not
# made inplace as we have not used 'inplace = True'

y = train_data['price_of_car'] # Output/Dependent variable
from sklearn.preprocessing import StandardScaler
scale_feat = StandardScaler()
faeture_scaled = scale_feat.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
# split the data
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.3, random_state = 17)
X_train['year'] = X_train['year'].fillna(X_train['year'].mode().iloc[0])
X_val['year'] = X_val['year'].fillna(X_val['year'].mode().iloc[0])

X_train['odometer'].fillna(X_train['odometer'].mean(), inplace=True)
X_train['latitude'].fillna(X_train['latitude'].mean(), inplace=True)
X_train['longitude'].fillna(X_train['longitude'].mean(), inplace=True)

X_val['odometer'].fillna(X_val['odometer'].mean(), inplace=True)
X_val['latitude'].fillna(X_val['latitude'].mean(), inplace=True)
X_val['longitude'].fillna(X_val['longitude'].mean(), inplace=True)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26250 entries, 22197 to 10863
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       26250 non-null  float64
 1   odometer   26250 non-null  float64
 2   latitude   26250 non-null  float64
 3   longitude  26250 non-null  float64
dtypes: float64(4)
memory usage: 1.0 MB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
from xgboost import XGBRegressor
from sklearn.neural_network import MLPRegressor
lr=XGBRegressor( learning_rate =0.01,
 n_estimators=10,subsample=0.3,
 max_depth=10,
 min_child_weight=10
 )
#rain the model
lr.fit(X_train, y_train)

pred = lr.predict(X_val)

[14:54:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
# import mean squared error from sklearn.metric
from sklearn.metrics import mean_squared_error
print('Root Mean Squared Error is: ', np.sqrt(mean_squared_error(y_val, pred)))

Root Mean Squared Error is:  19653.832227244606

In [ ]:

test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/used_car_price/test_set_label.csv')
test_data

                  region  ... longitude
0             moses lake  ... -119.1280
1            east oregon  ... -117.1130
2            springfield  ...       NaN
3             sacramento  ...       NaN
4      north mississippi  ...       NaN
...                  ...  ...       ...
12495              tulsa  ...  -95.8864
12496     ventura county  ... -118.8820
12497        baton rouge  ...  -97.1348
12498         sacramento  ...       NaN
12499         eastern NC  ...       NaN

[12500 rows x 22 columns]

In [ ]:
test_data = test_data.select_dtypes(exclude='object')
test_data = test_data.drop('county', axis = 1)
test_data['year'] = test_data['year'].fillna(test_data['year'].mode().iloc[0])

test_data['odometer'].fillna(test_data['odometer'].mean(), inplace=True)
test_data['latitude'].fillna(test_data['latitude'].mean(), inplace=True)
test_data['longitude'].fillna(test_data['longitude'].mean(), inplace=True)

In [ ]:
target = lr.predict(test_data)

res = pd.DataFrame(target) #target is nothing but the final predictions of your model on input features of your new unseen test data
res.index = test_data.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]
res.to_csv("submission.csv") # the csv file will be saved locally on the same location where this notebook

In [ ]:
#knn best and ml regressor best model created yet